* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h2 {
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  position: relative;
}

article {
  font-family: sans-serif;
  line-height: 1.4;
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
}

.price {
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
}

.deal {
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  font-size: 12px;
  /* float: right; */
  display: inline-block;
  /* margin-top: 20px; */
}

.main-header {
  background-color: #f7f7f7;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 20px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.more-info {
  margin-bottom: 25px;
  display: inline-block;
}

li {
  list-style: square;
  margin-left: 20px;
}

.detail-list li {
  margin-bottom: 10px;
}

.add-cart {
  text-transform: uppercase;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: black;
  background-color: white;
}

.facts {
  margin-bottom: 10px;
  margin-top: 20px;
}

h2::after {
  content: "SALE";
  background-color: rgb(193, 5, 5);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
}

h4 {
  position: relative;
}

.black {
  background-color: black;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.blue {
  background-color: blue;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-left: 7px;
  margin-top: 10px;
}

.red {
  background-color: red;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-left: 7px;
  margin-top: 10px;
}

.yellow {
  background-color: yellow;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-left: 7px;
  margin-top: 10px;
}

.green {
  background-color: green;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-left: 7px;
  margin-top: 10px;
}

.brown {
  background-color: rgb(106, 77, 39);
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-left: 7px;
  margin-top: 10px;
}

/* FLOATS */

/* .shoe {
  float: left;
  width: 240px;
} */

/* .imp-info {
  float: left;
  width: 240px;
  height: 250px;
  margin-left: 40px;
  /* background-color: pink; */

/* .detail-info {
  float: right;
  width: 240px;
  height: 250px;
  margin-left: 40px;
  /* background-color: green; */

button {
  clear: both;
}

.shoe-product {
  display: flex;
  gap: 16px;
  justify-content: left;
  flex: 1;
}

/* .free {
  display: flex;
} */

.el--2 {
  align-self: auto;
  height: 250px;
  /* background-color: coral; */
}

.el--3 {
  align-self: auto;
  flex: 0 0 auto;
  /* background-color: rebeccapurple; */
  flex-basis: auto;
  margin-right: 12px;
}

.el--1 {
  align-self: flex-start;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
